@page "/"

<PageTitle>Index</PageTitle>

<ToolBar UploadImage="@UploadImage" ImgSrc="@_imgSrc"
    CreatePalette="@CreatePalette" />

<div class="container-fluid d-flex vh-100 p-0">
    @foreach (var (id, color) in _colors)
    {
        <ColorPane @key="@id" PaneId=@id Color=@color 
            RGBColor=@HexToRGB(color)
            UpdateColorPane="@UpdateColorPane"
            RemoveColorFromList="@RemoveColorFromList" />
    }

    @if (_numPanes == 0)
    {
        <h2 class="col text-center m-auto fade-in">hi 👋</h2>
    }
</div>

@if (_numPanes < 8)
{
    <button type="btn" class="btn-dark vh-100" 
        onclick="@AddColorPane">
        <i class="fa fa-plus"></i>
    </button>
}

@code {
    private Dictionary<string, string> _colors = Enumerable
        .Repeat("#FFFFFF", 5)
        .ToDictionary(_ => RandomId(), color => color);

    private int _numPanes = 5;

    private string? _imgSrc;

    private byte[]? _byteData;

    // creates a random id for each pane
    private static string RandomId()
    {
        return Guid.NewGuid().ToString("N");
    }

    // supply initial RGB values to color pane
    private RGB HexToRGB(string color)
    {
        return new RGB(color);
    }

    // handle file input
    // input types are limited to img only
    // convert file to bmp and then into a byte array for processing
    private async void UploadImage(InputFileChangeEventArgs e)
    {
        int bmpHeaderSize = 54;
        int maxWidth = 640;
        int maxFileSize = 3200000;
        
        var bmpFile = await e.File
            .RequestImageFileAsync("image/bmp", maxWidth, maxWidth);

        using var input = bmpFile.OpenReadStream(maxFileSize);
        using var ms = new MemoryStream();
        await input.CopyToAsync(ms);

        _byteData = ms.ToArray()
            .Skip(bmpHeaderSize)
            .ToArray();

        _imgSrc = ($"data:{e.File.ContentType};base64," + 
            $"{Convert.ToBase64String(ms.ToArray())}");
        StateHasChanged();
    }

    // create palette using k-means clustering
    private void CreatePalette(int numClusters, string format)
    {
        // sample 1 color per 10 pixels
        // 1 color is 3 bytes
        int samplingRate = 3 * 10;

        if (_byteData == null)
            return;

        _colors.Clear();
        ProcessImage(samplingRate, numClusters, format);
        _numPanes = _colors.Count;
        StateHasChanged();
    }

    // make palette based on the format
    private void ProcessImage(int samplingRate, 
        int numClusters, string format)
    {
        int sampleSize = _byteData.Length / samplingRate;

        KMeans.K = numClusters;

        switch (format)
        {
            case "RGB":
                RGB[] RGBData = new RGB[sampleSize];
                for (int i = 0; i < sampleSize; i++)
                    RGBData[i] = new RGB(_byteData[i * samplingRate + 2],
                        _byteData[i * samplingRate + 1], _byteData[i * samplingRate]);

                _colors = KMeans.Cluster<RGB>(RGBData)
                    .ToDictionary(_ => RandomId(), color => color);
                
                break;

            case "CMYK":
                CMYK[] CMYKData = new CMYK[sampleSize];
                for (int i = 0; i < sampleSize; i++)
                    CMYKData[i] = new CMYK(_byteData[i * samplingRate + 2],
                        _byteData[i * samplingRate + 1], _byteData[i * samplingRate]);

                _colors = KMeans.Cluster<CMYK>(CMYKData)
                    .ToDictionary(_ => RandomId(), color => color);
                
                break;

            case "HSL":
                HSL[] HSLData = new HSL[sampleSize];
                for (int i = 0; i < sampleSize; i++)
                    HSLData[i] = new HSL(_byteData[i * samplingRate + 2],
                        _byteData[i * samplingRate + 1], _byteData[i * samplingRate]);

                _colors = KMeans.Cluster<HSL>(HSLData)
                    .ToDictionary(_ => RandomId(), color => color);
                
                break;

            case "HSV":
                HSV[] HSVData = new HSV[sampleSize];
                for (int i = 0; i < sampleSize; i++)
                    HSVData[i] = new HSV(_byteData[i * samplingRate + 2],
                        _byteData[i * samplingRate + 1], _byteData[i * samplingRate]);

                _colors = KMeans.Cluster<HSV>(HSVData)
                    .ToDictionary(_ => RandomId(), color => color);
                
                break;

            default:
                throw new Exception("Invalid color format");
        }
    }

    // pass down methods to child color pane components
    // to update the list of colors
    public void UpdateColorPane(string id, string color)
    {
        _colors[id] = color;
    }

    // once pane has been hidden, reload
    public void RemoveColorFromList(string id)
    {
        _numPanes--;
        StateHasChanged();
    }

    // add a default white pane (up to 8 total)
    public void AddColorPane()
    {
        if (_numPanes < 8)
        {
            _colors[RandomId()] = "#FFFFFF";
            _numPanes++;
            StateHasChanged();
        }
    }
}