@page "/"

<PageTitle>Index</PageTitle>

<ToolBar UploadImage="@UploadImage" 
    CreatePalette="@CreatePalette" />
    
<button onclick="@AddColorPane"></button>

@* @if (_imgSrc != null)
{
    <img src="@_imgSrc" />
} *@

<div class="container-fluid vh-100">
    <div class="row">
        @foreach (var (id, color) in _colors)
        {
            <ColorPane @key="@id" PaneId=@id Color=@color RGBColor=@HexToRGB(color)
                UpdateColorPane="@UpdateColorPane"
                RemoveColorFromList="@RemoveColorFromList" />
        }
    </div>
</div>

@code {
    private Dictionary<string, string> _colors = Enumerable
        .Repeat("#FFFFFF", 5)
        .ToDictionary(_ => RandomId(), color => color);

    private int _numPanes = 5;

    private string? _imgSrc;

    private byte[]? _byteData;

    // creates a random id for each pane
    private static string RandomId()
    {
        return Guid.NewGuid().ToString("N");
    }

    // supply initial RGB values to color pane
    private RGB HexToRGB(string color)
    {
        return new RGB(color);
    }

    // handle file input
    // input types are limited to img only
    // convert file to bmp and then into a byte array for processing
    private async void UploadImage(InputFileChangeEventArgs e)
    {
        int bmpHeaderSize = 54;
        int maxWidth = 640;
        int maxFileSize = 3200000;
        
        var bmpFile = await e.File
            .RequestImageFileAsync("image/bmp", maxWidth, maxWidth);

        using var input = bmpFile.OpenReadStream(maxFileSize);
        using var ms = new MemoryStream();
        await input.CopyToAsync(ms);

        _byteData = ms.ToArray()
            .Skip(bmpHeaderSize)
            .ToArray();

        _imgSrc = ($"data:{e.File.ContentType};base64," + 
            $"{Convert.ToBase64String(ms.ToArray())}");
    }

    // create palette using k-means clustering
    private void CreatePalette()
    {
        // sample 1 color per 10 pixels
        // 1 color is 3 bytes
        int samplingRate = 3 * 10;

        if (_byteData == null)
            return;

        int sampleSize = _byteData.Length / samplingRate;

        RGB[] RGBData = new RGB[sampleSize];

        for (int i = 0; i < sampleSize; i++)
            RGBData[i] = new RGB(_byteData[i * samplingRate + 2],
                _byteData[i * samplingRate + 1], _byteData[i * samplingRate]);

        _colors.Clear();
        _colors = KMeans.Cluster<RGB>(RGBData)
            .ToDictionary(_ => RandomId(), color => color);
        _numPanes = _colors.Count;
    }

    // pass down methods to child color pane components
    // to update the list of colors
    public void UpdateColorPane(string id, string color)
    {
        _colors[id] = color;
    }

    // once pane has been hidden, reload
    public void RemoveColorFromList(string id)
    {
        _numPanes--;
        StateHasChanged();
    }

    // add a default white pane (up to 8 total)
    public void AddColorPane()
    {
        if (_numPanes < 8)
        {
            _colors[RandomId()] = "#FFFFFF";
            _numPanes++;
            StateHasChanged();
        }
    }
}