<div class="col vh-100" style="background-color:@Color;">
    <h2>@Color</h2>

    @for (int i = 0; i < 3; i++)
    {
        int j = i;
        <input class="mw-20"
            type="range" min="0" max="255" 
            value="@RGBColor.Values[j]"
            @oninput="@(e => OnSliderChange(e, j))" />
        @* <input type="range" min="0" max="255" 
            value="@RGBColor.Values[j]"
            style="accent-color: @Accents[j]"
            @oninput="@(e => OnSliderChange(e, j))" /> *@
    }

    <button onclick="@Discard"></button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter] 
    public string Color { get; set; } = "#FFFFFF";

    [Parameter] 
    public RGB RGBColor { get; set; } = new RGB(255, 255, 255);

    [Parameter]
    public Action<int, string> UpdateColorPane { get; set; }
    
    [Parameter]
    public Action<int> RemoveColorPane { get; set; }

    @* private string[] Accents = { "#FF0000", "#00FF00", "#0000FF" }; *@

    private void OnSliderChange(ChangeEventArgs e, int i)
    {
        RGBColor.Values[i] = Convert.ToDouble(e.Value);
        Color = RGBColor.ToString();

        UpdateColorPane?.Invoke(Id, Color);
    }

    private void Discard()
    {
        RemoveColorPane?.Invoke(Id);
    }
}