<div class="fixed-top @_display">
    <i class="fa fa-bars fa-3x" onclick="@ToggleCollapse"></i>

    @if (!_isCollapsed)
    {
        <InputFile accept="image/*" OnChange="@UploadImage" />
        <button onclick="@CreatePalette"></button>

        
        @* <label for="colorFormat">Choose a Format:</label>
        <select @bind="@Format">
            <option value="RGB" selected>RGB</option>
            <option value="CMYK">CMYK</option>
            <option value="HSL">HSL</option>
            <option value="HSV">HSV</option>
        </select> *@
    }
</div>

@code {
    [Parameter]
    public Action<InputFileChangeEventArgs> UploadImage { get; set; }

    [Parameter]
    public Action CreatePalette { get; set; }

    private bool _isCollapsed = true;

    private string _display = "";

    private void ToggleCollapse()
    {
        _isCollapsed = !_isCollapsed;
        _display = (_display.Length > 0) ? "" :
            "w-25 vh-100 bg-primary" ;
    }
}